<app-sidemenu></app-sidemenu>
<ion-content id="sfondo" class="item">
    <ion-list class="image ion-padding-top" style="background-color: transparent">
        <ion-item lines="none" *ngFor="let tb of this.tableService.current_prenotation">
            <ion-img [src]="img_table"></ion-img>
            <ion-label>
                <span>Numero: {{tb['table']['NumberTable']}}</span> <br>
                <span>Posti: {{tb['table']['Chairs']}}</span> <br>
                <span id="text"><b>Data: {{tb['Date']}}</b></span>
            </ion-label>
            <ion-button (click)="deleteTable(tb['UuidOccupy'])">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>

        <ion-item lines="none" *ngFor="let tb of this.tableService.tables" id="opacity">
            <ion-img [src]="img_table"></ion-img>
            <ion-label>
                <span>Numero: {{tb['table']['NumberTable']}}</span> <br>
                <span>Posti: {{tb['table']['Chairs']}}</span> <br>
                <span>Data: {{tb['Date']}}</span>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
