#text {
  color: #ff8e00;
  font-style: oblique;
}

#opacity {
  opacity: .5
}

.image ion-img {
  height: 60px;
  width: 60px;
  padding-right: 10px;
}


#button_confirm {
  padding-top: 30%;
  text-align: center;
}


.item ion-item {
  border-radius: 20px;
  border: 2px solid #b0b3f9;
  opacity: 0.8;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 2%;
}
