<ion-menu side="start" content-id="main-content">
    <ion-list>
        <ion-menu-toggle menu="first" autoHide="false">

            <ion-item (click)="goTo('/home-place')">
                <ion-icon slot="start" [ios]="'home-outline'" [md]="'home-sharp'"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-item>

            <ion-item (click)="goTo('/near_places')">
                <ion-icon slot="start" [ios]="'earth-outline'" [md]="'earth-sharp'"></ion-icon>
                <ion-label>Locali nelle vicinanze</ion-label>
            </ion-item>

            <ion-item (click)="goTo('/my-prenotations')">
                <ion-icon slot="start" [ios]="'restaurant-outline'" [md]="'restaurant-sharp'"></ion-icon>
                <ion-label>I miei ordini</ion-label>
            </ion-item>

            <ion-item (click)="goTo('/prenotation-table')">
                <ion-icon slot="start" [ios]="'wine-outline'" [md]="'wine-sharp'"></ion-icon>
                <ion-label>I miei posti</ion-label>
            </ion-item>

            <ion-item (click)="goTo('/my-comments')">
                <ion-icon slot="start" [ios]="'star-outline'" [md]="'star-sharp'"></ion-icon>
                <ion-label>Le mie recensioni</ion-label>
            </ion-item>

            <ion-item (click)="goTo('/history-prenotation-dish')">
                <ion-icon slot="start" [ios]="'archive-outline'" [md]="'archive-sharp'"></ion-icon>
                <ion-label>Storico prenotazione pasti</ion-label>
            </ion-item>

            <ion-item (click)="goTo('/my-account')">
                <ion-icon slot="start" [ios]="'person-outline'" [md]="'person-sharp'"></ion-icon>
                <ion-label>Account</ion-label>
            </ion-item>

            <ion-item (click)="logout()">
                <ion-icon slot="start" [ios]="'power-outline'" [md]="'power-sharp'"></ion-icon>
                <ion-label>Logout</ion-label>
            </ion-item>

        </ion-menu-toggle>
    </ion-list>
</ion-menu>

<div id="main-content">
    <ion-buttons slot="start" style="background-color: #EAEAEA;border-bottom: 1px solid #2446ff">
        <ion-menu-button></ion-menu-button>
        <ion-img id="logo" [src]="img_logo"></ion-img>
        <text id="title_position">unimol bar</text>
    </ion-buttons>
</div>
