#title_position{
  font-family: "custom";
  color: #2446ff;
  font-size: 250%;
  text-align: left;
  padding-left: 2%;
  margin-top: .7%;
}

#logo{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;

  height: 40px;
  width: 40px;
}

#image_position{
  padding-top: 15%;
}
