<app-sidemenu></app-sidemenu>

<ion-content id="sfondo" class="item">
    <ion-list class="list ion-padding-top" style="background-color: transparent">

        <ion-item lines="none" *ngFor="let rev of this.rewiewService.data">
            <ion-label>{{rev.review.Title}}<br>
                <ion-label class="rating">
                    <input type="radio" [checked]="selectStar(rev.review.star,5)">
                    <label></label>
                    <input type="radio" [checked]="selectStar(rev.review.star,4)">
                    <label></label>
                    <input type="radio" [checked]="selectStar(rev.review.star,3)">
                    <label></label>
                    <input type="radio" [checked]="selectStar(rev.review.star,2)">
                    <label></label>
                    <input type="radio" [checked]="selectStar(rev.review.star,1)">
                    <label></label>
                </ion-label>

            </ion-label>
            <ion-button (click)="presentAlert(rev.review.Title, rev.review.Text)">
                <ion-icon name="reader-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteReview(rev.UuidRev)">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
