.padding_row{
  padding-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.border{
  margin-top: 2%;
  border-bottom: 2px solid  #b0b3f9;
}

.border ion-item{
  padding-right: 4%;
}

#h3{
  padding-top: 8%;
  text-align: center;
}
