<ion-content scroll-y>
    <ion-list class="padding_row">
        <ion-item class="border" lines="none" *ngFor="let d of this.dishService.cart; let i=index">
            <ion-avatar slot="start">
                <img [src]="img_dish">
            </ion-avatar>

            <ion-label>
                <h3>{{d.Dish.Name}}</h3>
            </ion-label>

            <ion-select value="{{this.dishService.quantity[i]}}" #new_qt (click)="updateQuantity(new_qt.value, d)">a
                <ion-select-option *ngFor="let qt of array_creator(d.Dish.Unit)"
                                   value="{{qt}}">{{qt}}</ion-select-option>
            </ion-select>

            <ion-button (click)="removeToCart(i)">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>

    <h3 id="h3">Totale : <span>{{calcolateTotal()}}</span></h3>

    <div id="modal_button">
        <ion-button class="ion-padding" shape="round" (click)="sendPrenotation()">Confirm
        </ion-button>
    </div>


</ion-content>
