<ion-content fullscreen>

    <div class="ion-text-end">
        <ion-button (click)="close()" fill="clear" color="dark">
            <ion-icon name="close" slot="start"></ion-icon>
        </ion-button>
    </div>

    <div class="ion-padding">
        <ion-list>
            <ion-item *ngFor="let d of cart" class="ion-text-wrap" style="padding-top: 10px">
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col size="9">
                      <b>{{ d.dish.Name }}</b>
                    </ion-col>
                    <ion-col size="3" class="ion-text-end">
                      {{ d.dish.Unit * d.dish.Price | currency:'€' }}
                    </ion-col>
                  </ion-row>

                  <ion-row class="ion-align-items-center">
                        <ion-col size="2" class="ion-no-padding">
                            <ion-button class="ion-no-padding" color="medium" fill="clear" (click)="decreaseCartItem(d)">
                                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
                            </ion-button>
                        </ion-col>

                        <ion-col size="1" class="ion-no-padding">
                            <span style="text-align: center">{{(+d.dish.Unit) }}</span>
                        </ion-col>

                        <ion-col size="2" class="ion-no-padding">
                            <ion-button color="medium" fill="clear" (click)="increaseCartItem(d)">
                                <ion-icon name="add-circle" slot="icon-only"></ion-icon>
                            </ion-button>
                        </ion-col>

                        <ion-col size="2" offset="5">
                            <ion-button color="medium" fill="clear" (click)="removeCartItem(d)">
                                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item style="color: red">
                <ion-grid class="ion-no-padding">
                    <ion-row>
                        <ion-col size="9">
                            Totale:
                        </ion-col>
                        <ion-col size="3" class="ion-text-end">
                            {{ getTotal() | currency:'€' }}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>

        <ion-button expand="full" (click)="checkout()">
            Prenota
        </ion-button>
    </div>

</ion-content>
