.image ion-img{
  max-height: 60px;
  max-width: 60px;
}

.image ion-label{
  padding-left: 15px;
}

#back_to_home{
  padding-top: 110%;
  text-align: center;
}

.item ion-item{
  border-radius: 20px;
  border: 2px solid #5260ff;
  opacity: 0.8;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 16px;
}

.piatti span{
  color: grey;
}
