<app-sidemenu></app-sidemenu>

<ion-content id="sfondo" class="item">
    <ion-list class="image, ion-padding-top" style="background: transparent">
        <div>
            <ion-item lines="none" *ngFor="let myres of this.dishService.prenotation; let j =index">
                <ion-label class="piatti">ID: {{myres['uuidReserv']}}<br>
                    <span *ngFor="let mydish of this.dishService.prenotation[j]['dish']; let i=index">
                        {{mydish}} x {{myres['quantity1'][i]}}
                        <br>
                    </span>
                </ion-label>

                <ion-button (click)="modalResumePrenotation(myres)">
                    <ion-icon name="create-outline"></ion-icon>
                </ion-button>

                <ion-button (click)="deletePrenotation(myres['uuidReserv'],j)">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
