<img [src]='img_dish'/>

<ion-content scroll-y>
    <ion-row>
        <ion-col id="ion_col"><p>{{dishService.dish_details?.dish.Name}}</p></ion-col>
        <ion-col class="rating">
            <input type="radio" [checked]="selectStar(dishService.dish_details?.mediaRecensioni[0],5)">
            <label></label>
            <input type="radio" [checked]="selectStar(dishService.dish_details?.mediaRecensioni[0],4)">
            <label></label>
            <input type="radio" [checked]="selectStar(dishService.dish_details?.mediaRecensioni[0],3)">
            <label></label>
            <input type="radio" [checked]="selectStar(dishService.dish_details?.mediaRecensioni[0],2)">
            <label></label>
            <input type="radio" [checked]="selectStar(dishService.dish_details?.mediaRecensioni[0],1)">
            <label></label>
        </ion-col>
    </ion-row>
    <div class="paddingingall">
        <h3>Ingredienti</h3>
        <span *ngFor="let ing of this.dishService.dish_details?.ingredient" class="padding">
                {{ing.ingredient.Name + '      '}}
            </span>
    </div>

    <div class="paddingingall">
        <h3>Allergeni</h3>
        <span *ngFor="let all of this.dishService.dish_details?.allergens">
                {{all.allergen.Name}}
            </span>
    </div>
</ion-content>


