
#testo {
  font-family: "inherit";
  text-align: center;
  color: #2446ff;
  font-size: 50px;
}
.margin{
  text-align: center;
}
.form_login {
  padding-top: 10%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.form_login ion-item {
  --background: #fafafa
}

#padding_login_button {
  padding-top: 30%;
}

#details_dish {
  padding-top: 10px;
  text-align: right;
}
