<ion-content class="sfondo">

    <ion-row>
        <ion-col class="header">
            <ion-title class="ion-padding">
                Unibookbar
            </ion-title>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="image_logo">
            <ion-img [src]='img'></ion-img>
        </ion-col>
    </ion-row>

    <ion-row style="background: transparent">
        <form class="form_login">
            <ion-list class="ion-no-padding">
                <ion-item>
                    <ion-label position="floating">Email
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="text" #mail></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Password
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="password" #password></ion-input>
                </ion-item>

                <ion-grid class="ion-padding" style="background: #FAFAFA">
                    <ion-row>
                        <ion-col class="margin">
                            <ion-button shape="round" (click)="login(mail.value,password.value)">Login
                            </ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row >
                        <ion-col class="margin">
                            <ion-router-link href='/signup' class="underline">
                                Crea account
                            </ion-router-link>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-list>
        </form>
    </ion-row>
</ion-content>
