<app-sidemenu></app-sidemenu>

<ion-content id="sfondo">
    <ion-row id="image_position">
        <img class="ion-padding" [src]='img_place' id="image_place">
    </ion-row>

    <div class="rating">
        <input type="radio" name="rating" id="rating-5">
        <label></label>
        <input type="radio" name="rating" id="rating-4">
        <label></label>
        <input type="radio" name="rating" id="rating-3" checked="checked">
        <label></label>
        <input type="radio" name="rating" id="rating-2">
        <label></label>
        <input type="radio" name="rating" id="rating-1">
        <label></label>
    </div>


    <ion-row>
        <ion-col id="buttons">
            <ion-button class="ion-padding" shape="round" (click)="goTo('/dishes')">Prenota Piatto
            </ion-button>
            <br>
            <ion-button class="ion-padding" shape="round" (click)="goTo('/free-table')">Prenota Posti</ion-button>
        </ion-col>
    </ion-row>

</ion-content>
