<app-sidemenu></app-sidemenu>

<ion-content id="sfondo">

    <ion-list id="position">
        <ion-item class="ion-padding-start"  lines="none">
            <ion-label>Tavoli liberi</ion-label>
            <ion-select #selected_table>
                <ion-select-option *ngFor="let tb of this.table_service.data" value="{{tb.UuidTable}}">
                    {{tb.NumberTable}}
                </ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <div id="button_confirm">
        <ion-button shape="round" (click)="sendReservationTable(selected_table.value);">Conferma</ion-button>
    </div>

    <div id="info">
        <ion-label>
            <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
            Ogni tavolo prevede solo 4 sedie!
        </ion-label>
    </div>
</ion-content>
