#label_prenotation {
  padding-top: 50px;
  text-align: center;
}

#time {
  padding-top: 40%;
}

#button {
  width: 40px;
  font-size: 100%;
}

.button ion-button{
  font-size: 105%;
  backgroundcolor: #2446ff;
  color:white;
}

#button_confirm {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

#booking_interval {
  text-align: center;
  font-family: 'custom';
  margin-left: auto;
  margin-right:auto;
  color: #2446ff;
  font-size: 250%;
  padding-bottom: 15%;
}

#info {
  width: 100%;
  text-align: center;
  color: black;
  font-size: 16px;
}

#position {
  margin-top: 45%;
}
