<app-sidemenu></app-sidemenu>

<ion-content class="sfondo">
    <ion-grid class="name_location card_style">

        <ion-row>
            <ion-col>
                <ion-card>
                    <img [src]='img_local1'/>
                    <ion-card-header class="ion-no-padding">
                        <ion-card-title>Tattira</ion-card-title>
                        <ion-card-subtitle>200m</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card (click)="goTo('/home-place')">
                    <img [src]='img_local2'/>
                    <ion-card-header class="ion-no-padding">
                        <ion-card-title>UnimolBar</ion-card-title>
                        <ion-card-subtitle>50m</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content>


