.name_location {
  padding-top: 10%;
  text-align: center;
}

.card_style ion-card {
  box-shadow: 5px 10px #888888;
  border-top: 2px solid #888888;
  border-left: 2px solid #888888;

}

img {
  height: 70%;
  width: 70%;
}

