<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form>
          <ion-item>
            <ion-label position="floating">Vecchia Password
              <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="password" #old_password value=""></ion-input>
          </ion-item>

          <ion-row class="ion-padding controlla_password">
            <ion-col>
              <ion-button shape="round"
                          (click)="verifyOldPassword(old_password.value)">
                Controlla Password
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="label_verify_password">
            <ion-col>
              <ion-label *ngIf="verifyPassword == false">Password Errata</ion-label>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="verifyPassword==true">
            <ion-col>
              <ion-item>
                <ion-label position="floating">Nuova password
                </ion-label>
                <ion-input type="password" #new_password value=""></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Conferma nuova password
                </ion-label>
                <ion-input type="password" #confirm_password value=""></ion-input>
              </ion-item>

              <ion-row class="save_button"
                       *ngIf="verifyNewPassword(new_password.value, confirm_password.value)">
                <ion-col>
                  <ion-button shape="round" (click)="modifyPassword(confirm_password.value)">Save
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
