<ion-content fullscreen>

    <div class="ion-text-end">
        <ion-button (click)="close()" fill="clear" color="dark">
            <ion-icon name="close" slot="start"></ion-icon>
        </ion-button>
    </div>

    <div class="ion-padding">
        <ion-list>
            <ion-item class="ion-text-wrap" *ngFor="let d of this.copy_dish_prenotation; let i =index"
                      style="padding-top: 10px">
                <ion-grid class="ion-no-padding">
                    <ion-row>
                        <ion-col size="9">
                            <b>{{ d }}</b>
                        </ion-col>
                        <ion-col size="3" class="ion-text-end">
                            {{ this.copy_quantity_prenotation[i] * this.copy_price_prenotation[i] | currency:'€' }}
                        </ion-col>
                    </ion-row>

                    <ion-row class="ion-align-items-center">
                        <ion-col size="2" class="ion-no-padding">
                            <ion-button class="ion-no-padding" color="medium" fill="clear"
                                        (click)="decreaseCartItem(i)">
                                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
                            </ion-button>
                        </ion-col>

                        <ion-col size="1" class="ion-align-self-center">
                            <span style="text-align: center">{{this.copy_quantity_prenotation[i]}}</span>
                        </ion-col>

                        <ion-col size="2" class="ion-no-padding">
                            <ion-button color="medium" fill="clear" (click)="increaseCartItem(i)">
                                <ion-icon name="add-circle" slot="icon-only"></ion-icon>
                            </ion-button>
                        </ion-col>

                        <ion-col size="2" offset="5">
                            <ion-button color="medium" fill="clear" (click)="removeCartItem(i)">
                                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item style="color: red">
                <ion-grid class="ion-no-padding">
                    <ion-row>
                        <ion-col size="9">
                            Totale:
                        </ion-col>
                        <ion-col size="3" class="ion-text-end">
                            {{ getTotal(this.copy_quantity_prenotation, this.copy_price_prenotation) | currency:'€' }}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>

        <ion-button expand="full" (click)="checkout()">
            Modifica prenotazione
        </ion-button>
    </div>

</ion-content>
