<app-sidemenu></app-sidemenu>

<ion-content id="sfondo" class="item">
    <ion-list class="image ion-padding-top" style="background-color: transparent" *ngIf="!rewiewService.selected">
        <ion-item lines="none" *ngFor="let r of rewiewService.reviews">
            <ion-label>{{r.dish.Name}}<br>
                <ion-label class="rating ion-padding-top">
                    <input type="radio">
                    <label></label>
                    <input type="radio">
                    <label></label>
                    <input type="radio" checked="true">
                    <label></label>
                    <input type="radio">
                    <label></label>
                    <input type="radio">
                    <label></label>
                </ion-label>
            </ion-label>
            <ion-button (click)="selectDish(r.UuidDish)">Scrivi una recensione</ion-button>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="rewiewService.selected" style="background-color: transparent">

        <ion-fab id="padding_return_button" slot="fixed">
            <ion-fab-button (click)="rewiewService.back_to_list()">
                <div class="cart-length"></div>
                <ion-icon name="chevron-back-outline" class="cart-icon"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <form class="padding_form ion-padding-top">
            <ion-item>
                <ion-label>Titolo:</ion-label>
                <ion-input #title></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Testo...</ion-label>
                <ion-textarea rows="3" autosize #text></ion-textarea>
            </ion-item>
        </form>

        <rating [rate]="stars"
                readonly="false"
                size="default"
                (rateChange)="onRateChange($event)">
        </rating>

        <div id="center_button">
            <ion-button shape="round" (click)=submit(title.value,text.value)>
                <ion-icon name="navigate-outline"></ion-icon>
                Invia
            </ion-button>
        </div>

    </ion-list>

</ion-content>
