.image ion-img{
  max-height: 130%;
  max-width: 130%;
  min-width: 130%;
  min-height: 130%;
}

.padding_form{
  margin-top: 15%;
}

#padding_return_button{
  padding-top: 2%;
  padding-left: 4%;
  padding-bottom: 4%;
}

.item ion-item{
  border-radius: 20px;
  border: 2px solid #b0b3f9;
  opacity: 0.8;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 2%;
}

.rating {
  display: flex;
  width: 100px;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 50%;
  position: relative;
  text-align: left;
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}
rating {
  ion-icon {
    color: gray;

    &.filled {
      color: #ffb400;
    }
  }
}

#center_button{
  text-align: center;
}
