.role_menu {
  padding-top: 5%;
  text-align: center;
}

.text_label ion-label {
  font-size: 15px;
  color: #000000;
  padding-left: 3%;
}

.CA_button {
  padding-top: 10%;
  text-align: center;
}

.form_signup ion-input {
  margin-left: 6px;
}

ion-fab-button {
  height: 47px;
  width: 47px;
}

.cart-icon {
  font-size: 34px;
}

.cart-length {
  color: var(--ion-color-primary);
  position: absolute;
  top: 18px;
  left: 25px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}




