<ion-content class="sfondo text_label">
    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button (click)="goToLogin()" >
            <div class="cart-length"></div>
            <ion-icon name="chevron-back-outline" class="cart-icon"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-row>
        <ion-col class="header">
            <ion-title class="ion-padding">
                Unibookbar
            </ion-title>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="image_logo">
            <ion-img [src]='img'></ion-img>
        </ion-col>
    </ion-row>


    <div class="role_menu">
        <ion-item class="ion-no-padding" color="transparent">
            <ion-label>Ruolo</ion-label>
            <ion-select [(ngModel)]="selected" interface="popover">
                <ion-select-option value="78c1cc97-6105-4b69-b228-1063ebc818e4">Studente</ion-select-option>
                <ion-select-option value="6e4e8ea0-655d-4328-9279-d809bbbef3b0">Docente</ion-select-option>
                <ion-select-option value="27b8b704-dcba-4503-8641-09aadce1b2e5">ATA staff</ion-select-option>
            </ion-select>
        </ion-item>
    </div>

    <div>
        <form *ngIf="selected !== '0'" class="form_signup">
            <ion-item class="ion-no-padding" color="transparent">
                <ion-label position="floating">Email
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" #email class="ion-padding-start"></ion-input>
            </ion-item>

            <ion-item class="ion-no-padding" color="transparent">
                <ion-label position="floating">Username
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" #username></ion-input>
            </ion-item>

            <ion-item class="ion-no-padding" color="transparent">
                <ion-label position="floating">Password
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="password" #password></ion-input>
            </ion-item>

            <ion-item class="ion-no-padding" color="transparent">
                <ion-label position="floating">Conferma Password
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="password" #confirmpassword></ion-input>
            </ion-item>

            <div class="CA_button" *ngIf="selected !== '0' ">
                <ion-button shape="round"
                            (click)="signup(email.value, password.value, confirmpassword.value, username.value, selected)">
                    Create Account
                </ion-button>
            </div>
        </form>
    </div>

</ion-content>
