@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "src/theme/fonts";
@import "~animate.css/animate.min.css";
.header ion-title {
  font-family: "custom";
  color: #2446ff;
  font-size: 250%;
  text-align: center;
}

.sfondo {
  //--background: url('src/assets/img/prova.jpg') no-repeat center center / cover;
  --background: #fafafa

}

#title {
  font-family: "ojol";
  font-size: 20px;
  color: #2446ff;
  text-align: center;
}

.my-custom-modal-css .modal-wrapper {
  height: 60%;
  width: 90%;
  top: 20%;
  left: 5%;
  position: absolute;
  display: block;
  border-radius: 20px;

}

#modal_button {
  padding-top: 3%;
  text-align: center;
}

.image_logo ion-img{
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

#progressbar {
  padding-top: 10%;
  color: #2446ff;
  margin-left: 35%;
  margin-right: 35%;
}
