.container {
  width: 30%;
  height: 60%;
}

#button_image {
  margin-left: 60%;
  padding-top: 8px;
  padding-bottom: 8px;
}

#image {
  position: relative;
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
}

#text_input {
  text-align: center;
}

#Save_button {
  padding-top: 50px;
  text-align: center;
}

.color {
  background: #fafafa
}

.color ion-label {
  color: darkgrey
}

.color ion-item {
  --background: #fafafa
}
