<app-sidemenu></app-sidemenu>

<ion-content id="sfondo">
    <div class="ion-padding">
        <ion-button id="button_image">
            <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-img id="image" [src]='img_account'></ion-img>
    </div>
    <div>
        <ion-list class="ion-padding, color" id="text_input">
            <ion-item>
                <ion-label>Nome:</ion-label>
                <ion-input #name type="text" value="{{this.client_service.data?.Name}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Cognome:</ion-label>
                <ion-input #surname type="text" value="{{this.client_service.data?.Surname}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Matricola:</ion-label>
                <ion-input type="text" value="{{this.client_service.data?.SerialNumber}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Username:</ion-label>
                <ion-input #username type="text" value="{{this.client_service.data?.Username}}"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Password:</ion-label>
                <ion-input #password type="password" value="nonvisibile"></ion-input>
                <ion-button (click)="modalChangePassword()">
                    <ion-icon name="create"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-list>
    </div>

    <div id="Save_button">
        <ion-button shape="round"
                    (click)="modify_account(name.value, surname.value,username.value,password.value,'')">
            Salva
        </ion-button>
    </div>
</ion-content>
