<app-sidemenu></app-sidemenu>

<ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
        <div class="cart-length">{{ dishService.totalItems}}</div>
        <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-content id="sfondo">
    <ion-segment scrollable value="call" class=" label_menu padding_bar">
        <ion-segment-button (click)="getDishesByCategory('7f3bcee8-787e-4116-b9a7-6b9f22b24ca9')">
            <ion-label>Primi</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="getDishesByCategory('0de21b9e-41f1-4148-90d4-742efed5fafd')">
            <ion-label>Secondi</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="getDishesByCategory('fecc4adc-c9c7-481f-960e-607b6fd5d842')">
            <ion-label>Contorni</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="getDishesByCategory('b6c3f859-d0fb-42e4-a8ff-01ecc391f3cb')">
            <ion-label>Panini e altro</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-list style="background: transparent">
        <div *ngFor="let d of dishService.data">
            <ion-card *ngIf="d.UuidCategory===category" class="padding" id="card_style">
                <ion-card-header >
                    <ion-row>
                        <ion-col>
                            <ion-card-title class="ion-padding-bottom">{{ d.dish.Name }}</ion-card-title>
                            <ion-router-link class="underline" (click)="modalDishDetails();getDishDetails(d)">
                                Dettagli piatto
                            </ion-router-link>
                        </ion-col>
                        <ion-col>
                            <ion-card-content *ngIf="d.UuidCategory===category" class="ion-no-padding">
                                <ion-row class="ion-align-items-center">
                                    <ion-col size="8" id="align_rigth">
                                        <ion-label color="secondary">
                                            <b>{{ d.dish.Price | currency:'€' }}</b>
                                        </ion-label>
                                    </ion-col>
                                    <ion-col size="4" class="ion-text-right">
                                        <ion-button fill="clear" (click)="addToCart(d)">
                                            <ion-icon name="add"></ion-icon>
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
            </ion-card>
        </div>
    </ion-list>
</ion-content>
