
ion-fab-button {
  height: 56px;
  width: 56px;
}

.cart-icon {
  font-size: 40px;
}

.cart-length {
  color: var(--ion-color-primary);
  position: absolute;
  top: 18px;
  left: 25px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}

.padding ion-card-header {
  padding-bottom: 0px;
  padding-top: 0px
}

ion-card-content {
  padding-bottom: 0px;
}

#card_style {
  background-color: #f5faff;
  margin-bottom: 16px;
  border-bottom: 1px solid #2446ff;
}

#align_rigth {
  text-align: right;
}
